.imgNavbar {
  max-width: 10%;
  margin: 5px;
}

nav {
  background-color: darkslateblue;
  text-align: center;
}
a {
  font-size: 15px;
  margin: 15px;
  vertical-align: 10px;
  text-decoration: none;
  color: white;
}
